@import "~bootstrap/scss/bootstrap";

::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Libre Franklin, sans-serif;
}

.App {
  min-height: 100vh;
  height: auto;
  padding-top: 28px;
}

.navWrapper {
  z-index: 1;
}

.nav {
  position: fixed;
  top: 68px;
  height: calc(100% - 68px);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 12px;
  width: 340px;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
  transition: right 0.5s ease-out, left 0.5s ease-out;
  padding-top: 18px;

  .params .row {
    min-height: 36px;
  }

  .title {
    display: flex;
    justify-content: space-between;
  }
}

.hide {
  display: none !important;
}

.jsonViewer {
  padding-top: 30px;
}

.jsonFormatter {
  padding: 20px;
  max-height: 25vh;
}

.json-attr {
  color: #f92672;
}

.json-value {
  color: #e6db74;
}

@media (max-width: 480px) {
  .nav, .appWrapper {
    width: 100%;
    height: 50%;
  }
  .nav {
    position: absolute;
  }
  .appWrapper {
    position: fixed;
    top: 50%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    border-top: 2px dotted #999;
  }
  .settingButtons {
    display: none;
  }
  .navRight .appWrapper.menuOpen {
    padding-right: 0 !important;
  }
  .navLeft .appWrapper.menuOpen {
    padding-left: 0 !important;
  }
}


/*-------------*/

.accordion {
  border-bottom: 1px solid #3d495a;
  padding: 5px 0;
  color: #e91e63;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;

  &.h2 {
    font-size: 20px;
  }

  &.expanded:before {
    content: "\25BE";
    display: inline-block;
    width: 22px;
  }

  &.collapsed:before {
    content: "\25B8";
    display: inline-block;
    width: 20px;
  }
}

.color {
  padding: 0 !important;
}

.btn-group-full {
  display: flex;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  opacity: 0;
  outline: none;
  background: #fff;
  cursor: inherit;
  display: block;
}

/* bootstrap */
.btn-sm, .btn-group-xs > .btn, .btn-xs {
  font-size: 12px;
  padding: 1px 5px;
  line-height: 1.5;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary,
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.btn-primary:focus, .btn-primary.focus,
.btn-primary.active.focus, .btn-primary.active:focus,
.btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
  box-shadow: 0 0 0 1px #204d74;
}

.form-control {
  background-color: #14171d;
  color: #fff;
  border-color: #3d495a;

  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.form-control:focus {
  background-color: #14171d;
  color: #fff;
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.params {
  input[type="radio"],
  input[type="checkbox"] {
    width: auto;
    height: auto;
    margin: 8.5px 0;
  }

  label {
    margin-top: 6px;
  }
}
.addBgBtn {
  font-size: 26px;
  margin-bottom: 10px;
}

/*-------*/
.canvasContainer {
  position: relative;
  cursor: grab;
  background-repeat: no-repeat;
  max-height: 50vh;
  overflow: hidden;

  &.mouseMove {
    cursor: grabbing !important;
  }
}

.resizeArea {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 35px;
  height: 30px;
  cursor: nw-resize;

  span {
    background-color: #6c757d;
    position: absolute;
    border-radius: 2px;
    height: 2px;
    transform: rotate(-45deg);

    &:nth-child(1) {
      left: 18px;
      top: 21px;
      width: 17px;
    }

    &:nth-child(2) {
      left: 26px;
      top: 24px;
      width: 8px;
    }
  }
}
.form-control.color {
  background-color: transparent !important;
  border: none;
  height: 36px;
}

/*--------------------*/